.container {
  @include container-fixed;

  /**
  * Full screen for mobile
  **/
  width: 100%;

  // @media (min-width: $screen-sm-min) {
  //   width: $container-sm;
  // }
  // @media (min-width: $screen-md-min) {
  //   width: $container-md;
  // }
  // @media (min-width: $screen-lg-min) {
  //   width: $container-lg;
  // }
}

.container-fluid {
  @include container-fixed;
}

.row {
  @include make-row;
}

@include make-grid-columns;
@include make-grid(md);

// @media (min-width: $screen-sm-min) {
//   @include make-grid(sm);
// }

// @media (min-width: $screen-md-min) {
//   @include make-grid(md);
// }

// @media (min-width: $screen-lg-min) {
//   @include make-grid(lg);
// }